extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h1 
        i.fa.fa-home.clickable(onclick="window.location='/'" style='cursor:pointer;padding-right:15px;')
        | #{acord['Processo']}
        .w3-right
          if (status=='not logged' || status=='invalid')
            h3
              a(href='/register') Sign Up
              |  |     
              a(href='/login') Login
          else 
            h3
              a(href='/favorites') Favorites
              |  |          
              a(href='/logout') Logout
    .w3-container(style="padding:15px;")
      if (status!='not logged' && status!='invalid')
        if (!inFav)
          form(action="/favorites/add", method="POST" style="width:30%;")
            label(for="descricao") Descrição:
            input.w3-input.w3-border(type="text", id="descricao", name="descricao")
            br
            input(type="hidden", name="id", value=acord['_id'])
            input(type="hidden", name="Processo", value=acord['Processo'])
            input(type="hidden", name="tribunal", value=acord['tribunal'])
            input(type="hidden", name="Relator", value=acord['Relator'])
            input(type="hidden", name="Data do Acordão", value=acord['Data do Acordão'])
            input(type="hidden", name="Área Temática", value=acord['Área Temática'])
            input(type="hidden", name="Área Temática 1", value=acord['Área Temática 1'])
            input(type="hidden", name="Área Temática 2", value=acord['Área Temática 2'])
            input(type="hidden", name="Descritores", value=acord['Descritores'])
            input(type="hidden", name="Sumário", value=acord['Sumário'])
            input.w3-btn.w3-green(type="submit", value="Add to Favorites")
        else 
          form(action="/favorites/remove", method="POST" style="width:30%;")
            input(type="hidden", name="id", value=acord['_id'])
            input.w3-btn.w3-red(type="submit", value="Remove From Favorites")
      each val, key in acord
        if Array.isArray(val)
          p
            b #{key}
          ul
            each v in val
              li
                p #{v} 
        else if !["_id","id","Processo"].includes(key)
          p
            b #{key}:
            |  #{val}
      if (status.level=='admin')
        .w3-row(style="padding:5px;")
          form(action="/acordaos/" + acord["_id"] + "/editar", method="GET")
            input.w3-btn.w3-yellow(type="submit", value="Editar")
        .w3-row(style="padding:5px;")
          form(action="/api/delete", method="POST" onsubmit="return confirmAction()")
            input(type="hidden", name="id", value=acord['_id'])
            input.w3-btn.w3-red(type="submit", value="Eliminar")
    script.
      function confirmAction() {
        var result = window.confirm("Are you sure you want to submit this form?");
        if (result) {
          return true;
        } else {
          return false;
        }
      }
    footer.w3-container.w3-blue.w3-center
      h5 Generated for RPCW2023 in #{d}
