extends layout

block content
  style.
    #myTable tbody tr:hover {
      cursor: pointer;
    }
    #myTable td {
      font-size: 12px; /* Adjust the font size to your preference */
    }
    .scrollable-text {
      max-height: 150px; /* Set the desired height of the scrollable area */
      overflow: auto; /* Enable scrolling when the content exceeds the height */
    }
  script(type="text/javascript").
    function DisableNullFields() {
      $('input').each(function(i) {
          var $input = $(this);
          if ($input.val() == '')
          $input.attr('disabled', 'disabled');
      });
    }
  script(type="text/javascript").
    $(document).ready(function() {
      $('.js-tribunal-multiple').select2();
    });
  .w3-card-4
    header.w3-container.w3-blue
      .w3-left
        h1 Acordãos
      if (status=='not logged' || status=='invalid')
        .w3-right
          h3
            a(href='/register') Sign Up
            |  |     
            a(href='/login') Login
      else 
        .w3-right
            h3        
              a(href='/logout') Logout
    .w3-container
      form(action='/acordaos' method='GET')
        .w3-row
          .w3-col.m2
            label(for="date_star") Data Superior a:
            input.w3-input.w3-border(type='date' id='date_start' name='date_start' min="1900-01-01" max="2099-01-01" value=date_start)
          .w3-col.m2
            label(for="date_end") Data Inferior a:
            input.w3-input.w3-border(type='date' id='date_end' name='date_end' min="1900-01-01" max="2099-01-01" value=date_end)
          .w3-col.m2
            label(for="keywords") Palavras-chave:
            input.w3-input.w3-border(type='text' id='keywords' name='keywords' placeholder='Pesquisa Livre...' value=keywords)
          .w3-col.m2
            label(for="processo") Processo:
            input.w3-input.w3-border(type='text' id='processo' name='processo' placeholder='Nº de Processo...' value=processo)
          .w3-col.m2
            label(for="relator") Relator:
            input.w3-input.w3-border(type='text' id='relator' name='relator' placeholder='Pesquisar por Relator...' value=relator)
        .w3-row
          .w3-col.m2
            label(for="descritores") Descritores:
            input.w3-input.w3-border(type='text' id='descritores' name='descritores' placeholder='Pesquisar por Descritores...' value=descritores)
          .w3-col.m2
            label(for="tribunal") Tribunal:
            select.w3-select.w3-border.js-tribunal-multiple(name='tribunal' multiple="multiple" value=tribunal)
              each trib in tribunais
                option(value=trib.key selected=tribunal.includes(trib.key)) #{trib.nome}
        input.w3-btn.w3-blue(type='submit' value='Filter' onclick='return DisableNullFields();')

      table.w3-table-all.display(id="myTable")
        thead
          tr
            th Processo
            th Tribunal
            th Relator
            th Data do Acordão
            th Áreas Temáticas
            th Descritores
            th Sumário
        tbody
      
      script.
        $(document).ready(function () {
          var dataTable = $('#myTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
              url: '/api/acordaos?!{query}', // !{query} forma de passar vars a blocos de script (unescaped interpolation)
              type: 'GET',
              dataSrc: 'data', 
            },
            columns: [
              { data: 'Processo' },
              { data: 'tribunal' },
              { data: 'Relator', defaultContent: 'N/D' },
              { data: 'Data do Acordão', defaultContent: 'N/D' },
              {
                data: null,
                render: function (data, type, row) {
                  var areas = []
                  if (row['Área Temática']) areas.push(row['Área Temática'])
                  if (row['Área Temática 1']) areas.push(row['Área Temática 1'])
                  if (row['Área Temática 2']) areas.push(row['Área Temática 2'])
                  var res = "N/D"
                  if (areas.length > 0) res = areas.join(" / ")
                  return '<div class="scrollable-text">' + res + "</div>"
                }
              },
              { data: 'Descritores', defaultContent: 'N/D',
                render: function ( data, type, row ) {
                  var res = row['Descritores'] ? row['Descritores'].join(" / ") : "N/D"
                  return '<div class="scrollable-text">' + row['Descritores'].join(" / ") + "</div>";
                } 
              },
              { data: 'Sumário', defaultContent: 'N/D',
                render: function ( data, type, row ) {
                  var res = data ? data : "N/D"
                  return '<div class="scrollable-text">' + res + "</div>";
                } 
              }
            ],
            responsive:true,
            searching: false,
            info: false
          })

          $('#myTable tbody').on('click', 'tr', function() {
            var rowData = dataTable.row(this).data();
            if (rowData !== undefined && rowData !== null) {
              var processo = encodeURIComponent(rowData.Processo);
              var tribunal = rowData.tribunal;
              window.location.href = '/acordaos/' + tribunal + '/' + processo;
            }
          })
        });

    footer.w3-container.w3-blue.w3-center
      h5 Generated for RPCW2023 in #{d}